$light-blue: #3498db;

.directory-navigation {
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;
  padding: 10px;

  .current-path {
    margin-right: 2px;
  }

  .path-options {
    flex: 1;

    .active {
      color: $light-blue;
    }
  }
}
