@import 'colors';

.directory-navigation {
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;
  padding: 10px;

  .fade-mask {
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 50%, rgba(17, 17, 17, 1) 90%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .current-path,
  .path-options {
    overflow: hidden;
    white-space: nowrap;
  }

  .current-path {
    direction: rtl;
  }

  .path-options {
    height: 100%;
    padding-right: 30px;

    .active {
      color: $light-blue;
    }
  }
}
